 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/logout.css">
    <title>Document</title>
 </head>
 <body>
    
    <header>
        <nav>
          <div class="logo">
          <h1>Orchid <span>Clinic</span></h1>
          </div>
          <ul class="nav-links">
            <li><a href=" http://127.0.0.1:4518/home ">Return to Home</a></li>
          </ul>
          
          <div class="btn">
            <i class='bx bx-user bx-flashing' ></i>
            <ul>
              <li><a href=" http://127.0.0.1:4518/login " id="login-btn">Log In</a></li>
            </ul>
            
          </div>
          
      
        </nav>
      </header>

 </body>
 </html>