<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Patient Login - Orchid Clinic</title>
  <link rel="stylesheet" href="/static/patient.css" />
</head>
<body>
  <div class="container">
    <h1><span class="orchid">Orchid</span><span class="clinic">Clinic</span></h1>
    <div class="form-card">
      <h2>Patient Login</h2>
      <p>Enter your credentials to access your patient portal</p>
      <label for="name">Name</label>
      <input type="text" max="100" placeholder="Vansh Hedaoo">
      <label>Email</label>
      <input type="email" placeholder="your.email@example.com" />
      <label>Password</label>
      <div class="password-row">
        <input type="password" />
      </div>
      <button class="btn purple">Sign In</button>
      <p class="register-link">Don't have an account? <a href="http://127.0.0.1:6969/signup">Register here</a></p>
    </div>
  </div>
</body>
</html>
