<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Register - Orchid Clinic</title>
    <link rel="stylesheet" href="/static/patient-register.css" />
  </head>
  <body>
    <div class="container">
      <h1>
        <span class="orchid">Orchid</span><span class="clinic">Clinic</span>
      </h1>
      <div class="form-card">
        <form action="/signup" method="POST">
          <h2>Create Patient Account</h2>
          <p>Register to manage your appointments and reports</p>
          <label>Name</label>
          <input type="text" name="name" placeholder="Vansh Hedaoo" required/>
          <label>Email</label>
          <input
            type="email"
            name="email"
            placeholder="your.email@example.com"
            required
          />
          <label>Password</label>
          <input type="password" name="password" required/>

          <button type="submit" class="btn purple">Register</button>
          <p class="login-link">
            Already have an account?
            <a href="http://127.0.0.1:4518/login">Login</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
